<div class="content-header">
    <input type="checkbox" id="check">
    <label for="check">
        <i class="fas fa-bars" id="btn"></i>
        <i class="fas fa-times" id="cancel"></i>
    </label>
    <div class="sidebar">
        <ul>
        <li class="nav-items-tog" id="dash">
            <a href="/">
                <i class="fa-solid fa-house"></i>
            <span>Home</span>
            </a>
        </li>
        <li class="nav-items-tog">
            <a href="/add">
                <i class="fa-solid fa-users"></i>
                <span>Add patient</span>
            </a>
        </li>
        <li class="nav-items-tog">
            <a href="/discharge">
                <i class="fa-regular fa-folder"></i>
                <span>Discharge</span>
            </a>
        </li>
        
        <li class="nav-items-tog">
            <a href="/follow_up">
                <i class="fa-regular fa-envelope"></i>
                <span>follow up</span>
            </a>
        </li>
        <li class="nav-items-tog">
            <a href="/reports">
                <i class="fa-solid fa-chart-simple"></i>
                <span>Reports</span>
            </a>
        </li>
        </ul>

    </div>
    <div class="search">
        <i class="fa-solid fa-magnifying-glass"></i>
        <input type="text" placeholder="Search">
    </div>
    <div class="profile">
        <i class="fa-regular fa-bell"></i>
        <img id="profile-pic" src="/images/chris.jpg" alt="profile">
    </div>
</div>

