.navigation{
    background-color: blueviolet;
    width: 20vw;
    overflow: auto;
}  
.container{
    display: flex;
    height: 100vh;
}

*{
    box-sizing: border-box;
    margin: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(240, 239, 239);
    
}
/* styles for the navigation */
.navigation{
    color: white;
}

.nav-header{
    font-weight: bold;
    font-size: 1.3rem;
    height: 7vh;
    padding: 1rem 1rem 1rem 0.5rem;
    margin: 0.4rem;
}
.nav-items{
    display: flex;
    align-items: center;
   
}
.nav-items-tog{
    display: flex;
    align-items: center;
    margin-left: 4rem;
   
}

.nav-items i{
    margin: 0.4rem;
    padding: 0.5rem;
    padding-left: 2rem;
}

.nav-items span{
    color: white;
}

#profile-pic{
    width: 1.5rem;
    border-radius: 50%;
}

/* styles for the header */

.content-header{
    display: flex;
    justify-content: space-between;
    margin: 0.5rem;
    padding: 0.4rem;
    height: 6.5vh;
    align-items: center;
    width: 100%;
}

.content{
    width: 80vw;
    overflow-y: scroll;
    overflow-x: hidden;
    /* overflow: auto; */

}

input{
    border: none;
    margin-left: 0.5rem;
    background-color: rgb(231, 230, 230);
    padding: 0.6rem 2.1rem 0.6rem 2.1rem;
    width: 50vh;
    border-radius: 2rem;
    outline: none;
}

.profile{
    display: flex;
    align-items: center;
}

#profile-pic{
    margin-left: 0.7rem;
    margin-right: 2rem;
}

/* styles for the main section of the page */
.main-content{
    background-color: rgb(240, 239, 239);
    height: 100%;
    border-top: 0.15rem solid rgb(204, 203, 203);
    padding: 2rem;
}

#box{
    border: 0.18rem dashed rgb(204, 203, 203);
    height: 50vh;
    border-radius: 2%;
    width: 75vw;
    margin-top: 1.5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.box-div{
    display: flex;
    margin: auto;
}


a{
    text-decoration: none;
    color: white;
}

.active{
    background-color: rgb(40, 40, 94);
}

/* styles for the charts */

#myChart{
    max-width: 42%;
    min-width: 40;
    max-height: 47%;
    margin: 1rem;
    min-height: 20%;
    margin-bottom: 5rem;
}

#pieChart{
    max-width: 42%;
    min-width: 37;
    max-height: 40%;
    z-index: 1;
    position: relative;
    min-height: 20%;
    margin-bottom: 5rem;
}

#lineChart{
    max-width: 42%;
    max-height: 47%;
    min-height: 20%;
    position: relative;
    margin-bottom: 5rem;
}

#multiLine{
    max-width: 42%;
    min-height: 20%;
    max-height: 47%;
    position: relative;
    
}
.chart-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
}

.chart-container canvas {
    width: 45%; 
    margin-bottom: 20px; 
}

#pie-and-bar{
    display: block;
}

.charts{
    display: flex;
    flex-wrap: wrap;
    column-gap: 5rem;

}

/* Style for the chart action buttons */

.chart-actions button {
    max-height: 4rem;
    margin: 0.5rem;
    padding: 0.3rem 0.6rem;
    background-color: #0074E4;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem; 
    font-weight: bold; 
    transition: background-color 0.3s ease; 


    &:hover {
        background-color: #0058A7; 
}
}

#printChart {
    background-color: #00A15F;
}

.chart-actions {
    display: flex;
    justify-content: center;
}


@media screen and (max-width: 770px) {
    .charts{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: auto;
    }
    
}

@media screen and (max-width: 1000px) {
    .navigation{
        display: none;
    }

    .content{
        width: 100vw;
    }

    #box{
        border: 0.18rem dashed rgb(204, 203, 203);
        height: 50vh;
        border-radius: 2%;
        width: 95vw;
        margin-top: 1.5rem;
    
    }
    
}

/*Toggle side bar - Mostly*/

*{
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
}

.sidebar {
  position: fixed;
  width: 30vw;
  left: -1000px;
  top: 0;
  height: 100vh;
  background-color: blueviolet;
  transition: all .5s ease;
  z-index: 5000;
}
#dash{
    padding-top: 7rem;
}
.sidebar ul a{
  display: block;
  height: 100%;
  width: 100%;
  line-height: 65px;
  color: white;
  box-sizing: border-box;
  transition: .4s;
}

.sidebar ul a i{
  margin-right: 16px;
}
#check{
  display: none;
}
label #btn,label #cancel{
  position: absolute;
  background: #202020;
  border-radius: 3px;
  cursor: pointer;
}
label #btn{
  left: 1rem;
  top: 0.7rem;
  font-size: 1rem;
  color: white;
  padding: 6px 12px;
  transition: all .5s;
  z-index: 5000;
}
label #cancel{
  z-index: 5100;
  left: -195px;
  top: 17px;
  font-size: 1rem;
  color: #ffffff;
  padding: 4px 9px;
  transition: all .5s ease;
}
#check:checked ~ .sidebar{
  left: 0;
}
#check:checked ~ label #btn{
  left: 250px;
  opacity: 0;
  pointer-events: none;
}
#check:checked ~ label #cancel{
  left: 27vh;
}


@media screen and (min-width: 1000px) {
    #btn{
        display: none;
    }

    #check:checked ~ .sidebar{
        left: -1000px;
      }
    
    #check:checked ~ label #cancel{
        left: -1000px;
      }
}

.card{
    width: 17vw;
    height: 20vh;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
    background-color: #fff;
    border-radius: 0.3rem;
    margin: 1rem;
    padding: 1.5rem;
    text-align: center;
}
@media screen and (max-width: 700px){
    .sidebar {
        width: 50vw;
    }
}

/* add patient form styles */

.patient-details{
    background-color: rgb(234, 216, 252);
    padding: 2rem;
    border-radius: 0.2rem;
    margin-bottom: 1rem;
    width: 100%;
}
.patient-form{
    margin: auto;
    width: 45vw;
    font-family: Helvetica, sans-serif;
}

.form-inner-div{
    display: flex;
    flex-wrap: wrap;
    column-gap: 2rem;

}

.label-div{
    font-family: Helvetica, sans-serif;
    margin-top: 1rem;
}

.short{
    width: 47%;
}

.add-patients-input{
    background-color: white;
    outline: none;
    border: 0.1rem solid rgb(216, 216, 216);
    border-radius: 0.2rem;
    height: 2rem;
    margin: 1rem;
    padding: 0.5rem;
    font-weight: 600;
}

.add-patients-input:focus{
    border: 0.1rem solid blueviolet;
}

.long-input{
    width: 100%;
}

.short-input{
    width: 100%;
}
select{
    outline: none;
    border: 2px solid blueviolet;
    padding: 0.5rem;
    margin: 1rem;
    color: blueviolet;
    border-radius: 5px;
}



.submit{
    width: 47%;
    height: 2.5rem;
    margin: 0.7rem;
    background-color: rgb(40, 40, 94);
    outline: none;
    border: none;
    color: white;
    border-radius: 0.2rem;
    transition: 0.5s;
}

.submit:hover{
    background-color: rgb(153, 48, 252);
    cursor: pointer;
 
}
.reset{
    width: 47%;
    height: 2.5rem;
    float: right;
    border: 0.1rem solid blueviolet;
    background-color: none;
    border-radius: 0.2rem;
    color: blueviolet;
    transition: 0.5s;
}
.reset:hover{
  
    background-color: blueviolet;
    border-radius: 0.2rem;
    color: rgb(255, 255, 255);
}

/* discharge patients styles */

.tab{
    padding: 2vh 2vw;
    align-items: center;
       
}

.tab-1{
    background-color: blueviolet;
}

.tab-2{
    background-color: blueviolet;
}

.discharge-btn{
    background-color: blueviolet;
    color: white;
    padding: 0.4rem 1.5rem;
    border: none;
    border-radius: 0.1rem;
    float: right;
    cursor: pointer;
    transition: 0.5s;

}

.discharge-btn:hover{
    background-color: rgb(40, 40, 94);;
}

td{
    padding: 1rem 2vw;
}

.one{
    background-color: blueviolet;
    color: white;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
}

.table-titles{
    font-weight: bold;
    margin-bottom: 2rem;
}

/* CSS styles for the sending email form  */

.email-modal form {
    display: flex;
    flex-direction: column;
    width: 50vw;
    height: 90vh;
    padding: 2rem;
    margin: 1rem;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 7px;
    background-color: #fff; 
}

.email-modal .form-item {
    padding: 1rem 0;
    margin: 1rem 0;
    display: flex;
    flex-direction: column;
}

.email-modal label {
    font-weight: bold;
    margin-bottom: 0.5rem;
    font-size: 1.1rem;
    color: #333; 
}

.email-modal input[type="text"],
.email-modal input[type="email"],
.email-modal input[type="password"],
.email-modal textarea {
    padding: 0.5rem;
    border: 1px solid #ccc; 
    border-radius: 5px;
    font-size: 1rem;
}

.email-modal textarea {
    resize: vertical; 
}

.email-modal button[type="submit"] {
    background-color: #082c7a; 
    color: #fff; 
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.2rem;
    transition: background-color 0.3s ease; 
}

.email-modal button[type="submit"]:hover {
    background-color: #3a50b6; 
    margin: 1rem;
}
